/*
* Import Sass add-ons
*/
/* line 7, app.scss */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, app.scss */
html, body {
  height: 100%; }

/* 

Open Sans
		
	300 - light
	300italic
	400 - normal / regular
	400italic
	600 - medium
	700 - bold
	800 - black 

Vollkorn

	400 - regular
	700 - bold

*/
/* line 35, app.scss */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", san-serif; }

/* line 46, app.scss */
hgroup {
  position: absolute;
  width: 100%;
  min-height: 50%;
  padding: 20px;
  z-index: 0; }
  /* line 54, app.scss */
  hgroup > * {
    margin: 0;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    color: white; }
  /* line 60, app.scss */
  hgroup .cancel {
    position: absolute;
    padding: 0 15px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer; }
  /* line 68, app.scss */
  hgroup h2 {
    font-family: "Roboto", san-serif;
    font-size: 13px; }
  /* line 72, app.scss */
  hgroup h1 {
    margin: 40px 0 0 0;
    font-weight: 700;
    font-size: 28px;
    text-align: center; }

/* line 80, app.scss */
#pull-down {
  top: 0;
  left: 0;
  background: #1c1c1c; }
  /* line 85, app.scss */
  #pull-down .cancel {
    top: 25px;
    right: 25px;
    background: #363636;
    color: rgba(255, 255, 255, 0.7); }
  /* line 91, app.scss */
  #pull-down h2 {
    color: dimgrey; }

/* line 99, app.scss */
#pull-up {
  bottom: 0;
  left: 0;
  background: #0077ea; }
  /* line 104, app.scss */
  #pull-up .cancel {
    bottom: 25px;
    right: 25px;
    background: dodgerblue;
    color: rgba(255, 255, 255, 0.8); }
  /* line 110, app.scss */
  #pull-up h2 {
    color: white;
    position: absolute;
    bottom: 30px; }
  /* line 115, app.scss */
  #pull-up h1 {
    margin: 0;
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%; }

/* line 124, app.scss */
#hitzone {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  transition-property: transform;
  transition-duration: 0s;
  transition-timing-function: ease-in-out; }
  /* line 138, app.scss */
  #hitzone.return {
    transition-duration: 200ms; }

/* line 145, app.scss */
body.pulldown-mode #hitzone {
  transform: translate3d(0, 150px, 0) !important; }

/* line 151, app.scss */
body.pullup-mode #hitzone {
  transform: translate3d(0, -150px, 0) !important; }
