/*
* Import Sass add-ons
*/
/* line 7, app.scss */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, app.scss */
html, body {
  height: 100%; }

/* 

Open Sans
		
	300 - light
	300italic
	400 - normal / regular
	400italic
	600 - medium
	700 - bold
	800 - black 

Vollkorn

	400 - regular
	700 - bold

*/
/* line 34, app.scss */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", san-serif; }

/* line 45, app.scss */
hgroup {
  position: absolute;
  width: 100%;
  min-height: 50%;
  padding: 25px;
  z-index: 0; }
  /* line 53, app.scss */
  hgroup > * {
    margin: 0;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    line-height: 1.1;
    color: white; }
  /* line 60, app.scss */
  hgroup .cancel {
    position: absolute;
    padding: 0 15px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    display: none; }
  /* line 69, app.scss */
  hgroup h2 {
    font-family: "Roboto", san-serif;
    font-size: 13px; }
  /* line 73, app.scss */
  hgroup h1 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    display: none; }

/* line 81, app.scss */
#pull-down {
  top: 0;
  left: 0;
  background: #1c1c1c; }
  /* line 86, app.scss */
  #pull-down .cancel {
    top: 0;
    right: 0;
    background: #363636;
    color: rgba(255, 255, 255, 0.7); }
  /* line 92, app.scss */
  #pull-down h2 {
    color: dimgrey; }
  /* line 95, app.scss */
  #pull-down h1 {
    margin: 45px 0 0 0; }

/* line 100, app.scss */
#pull-up {
  bottom: 0;
  left: 0;
  background: yellowgreen; }
  /* line 105, app.scss */
  #pull-up .cancel {
    bottom: 0;
    right: 0;
    background: #7ba428;
    color: rgba(255, 255, 255, 0.8); }
  /* line 111, app.scss */
  #pull-up h2 {
    color: #2e3e0f;
    position: absolute;
    bottom: 25px; }
  /* line 116, app.scss */
  #pull-up h1 {
    color: #2e3e0f;
    margin: 0;
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%; }

/* line 126, app.scss */
#hitzone {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 50%, #7db9e8 100%);
  transition-property: transform;
  transition-duration: 0s;
  transition-timing-function: ease-in-out; }
  /* line 145, app.scss */
  #hitzone.return {
    transition-duration: 200ms; }

/* line 153, app.scss */
body.pulldown-mode hgroup .cancel {
  display: block; }
/* line 156, app.scss */
body.pulldown-mode hgroup h1 {
  display: block; }
/* line 160, app.scss */
body.pulldown-mode #hitzone {
  transform: translate3d(0, 150px, 0) !important; }

/* line 167, app.scss */
body.pullup-mode hgroup .cancel {
  display: block; }
/* line 170, app.scss */
body.pullup-mode hgroup h1 {
  display: block; }
/* line 174, app.scss */
body.pullup-mode #hitzone {
  transform: translate3d(0, -150px, 0) !important; }
