/*
* Import Sass add-ons
*/
/* line 7, pull-up.scss */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, pull-up.scss */
html, body {
  height: 100%; }

/* 

Open Sans
		
	300 - light
	300italic
	400 - normal / regular
	400italic
	600 - medium
	700 - bold
	800 - black 

Vollkorn

	400 - regular
	700 - bold

*/
/* line 35, pull-up.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #9a9a9a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", san-serif;
  overflow: hidden; }

/* line 50, pull-up.scss */
hgroup {
  position: absolute;
  width: 100%;
  min-height: 50%;
  padding: 25px; }
  /* line 57, pull-up.scss */
  hgroup > * {
    margin: 0;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    color: white; }
  /* line 63, pull-up.scss */
  hgroup .cancel {
    position: absolute;
    padding: 0 17px;
    line-height: 43px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Roboto", san-serif;
    text-transform: lowercase;
    cursor: pointer;
    display: none; }
  /* line 75, pull-up.scss */
  hgroup h2 {
    font-family: "Roboto", san-serif;
    font-size: 14px;
    font-weight: 300; }
  /* line 80, pull-up.scss */
  hgroup h1 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    display: none; }

/* line 88, pull-up.scss */
#pull-up {
  bottom: 0;
  left: 0;
  background: mediumseagreen; }
  /* line 93, pull-up.scss */
  #pull-up .cancel {
    bottom: 0;
    right: 0;
    background: #339860;
    color: #091a11; }
  /* line 99, pull-up.scss */
  #pull-up h2 {
    color: #194c30;
    position: absolute;
    bottom: 25px; }
  /* line 104, pull-up.scss */
  #pull-up h1 {
    color: #143d26;
    margin: 0;
    position: absolute;
    bottom: 82px;
    left: 0;
    width: 100%; }

/* line 114, pull-up.scss */
#hitzone {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition-property: transform;
  transition-duration: 0s;
  transition-timing-function: ease-in-out; }
  /* line 127, pull-up.scss */
  #hitzone.return {
    transition-duration: 200ms; }

/* line 135, pull-up.scss */
body.pullup-mode hgroup .cancel {
  display: block; }
/* line 138, pull-up.scss */
body.pullup-mode hgroup h1 {
  display: block; }

/* line 145, pull-up.scss */
#carousel, #carousel ul, #carousel li {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative; }

/* line 153, pull-up.scss */
#carousel {
  background: #9a9a9a;
  overflow: hidden;
  width: 100%;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform-style: preserve-3d; }

/* line 163, pull-up.scss */
#carousel ul.animate {
  transition: transform .3s; }

/* line 167, pull-up.scss */
#carousel ul {
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  overflow: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d; }

/* line 176, pull-up.scss */
#carousel ul {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative; }

/* line 181, pull-up.scss */
#carousel li {
  float: left;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0); }

/* line 188, pull-up.scss */
#carousel li h2 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

/* line 199, pull-up.scss */
#carousel li.pane1 {
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 50%, #7db9e8 100%); }

/* line 200, pull-up.scss */
#carousel li.pane2 {
  background: #4986e7; }

/* line 201, pull-up.scss */
#carousel li.pane3 {
  background: #d06b64; }

/* line 202, pull-up.scss */
#carousel li.pane4 {
  background: #cd74e6; }

/* line 203, pull-up.scss */
#carousel li.pane5 {
  background: #9fe1e7; }
